


<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        
        <% if(!user) {%>
        <a class="nav-item nav-link" href="/register">Register</a>
        <%}%>
      
      <ul class= "nav justify-content end">  
      <% if(user) {%>
        <li class= "nav-item navbar-brand">
          <div class="name" style= "text-align: right;"> &nbsp; &nbsp; &nbsp;You are logged in as <%= user.email %> &nbsp;&nbsp;
          </div>
        </li>
        <li class= "nav-item">
          <div class="logout">
            <form method="POST" action="/logout">
              <button style="border: none; font-size: 16px; background-color: green; color: white;" type="submit">Logout</button>
            </form>
          </div>
        </li>
        <%}%>

      <% if(!user) {%>
        <li>
          <a class="nav-item nav-link" href="/login">Login</a>
        </li>
      <%}%>
      </ul>
  </nav>
</header>
